* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-color: #1A1A1D;
    overflow-x: hidden;
    padding: 20px;
    position: relative;
}



h1 {
    font-size: 6vw;
    color: white;
    font-family: "Montserrat", sans-serif;
    animation: moveToRight 1.5s ease-out forwards;
    text-align: left;
    margin: 20px 0;
	white-space: nowrap;
	
}

.bem-vindo {
    display: block;
}

.maincontainer-login {
	font-family: "Lato", sans-serif;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 450px;
    perspective: 1000px;
    margin: 20px;
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.container-info,
.container-esqueceu-senha {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 30px;
    backface-visibility: hidden;
    padding: 30px 0;
}

.container-esqueceu-senha {
    transform: rotateY(180deg);
}

.login-title {
    font-size: 25px;
    align-self: flex-start;
    margin-left: 15%;
    margin-top: -10px;
}

input {
    font-family: "Lato", sans-serif;
    width: 75%;
    height: 50px;
    padding: 15px;
    background: #e7ebf8;
    border: none;
    border-radius: 10px;
    outline: none;
}

button {
	font-family: "Lato", sans-serif;
    width: 75%;
    height: 45px;
    border: 2px solid #344fbc;
    background: white;
    color: #344fbc;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #344fbc;
    color: white;
}

#voltar{
	position:relative;
	bottom:47px;
}
#confirmar{
	position:relative;
	bottom:15px;
}

.circle {
    position: fixed;
    right: -35vh;
    top: 50%;
    transform: translateY(-50%);
    width: 125vh;
    height: 125vh;
    background: #344fbc;
    border-radius: 50%;
    z-index: -1;
}

.rotate {
    transform: rotateY(180deg);
}

@keyframes moveToRight {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@media (max-width: 1250px) {
	.circle {
		right: -55vw;
		position:fixed;
        }
}
@media (max-width: 1035px) {
	.circle {
		right: -70vw;
        }
}
@media (max-width: 1024px) {
	.circle {
		right: -27vw;
        }
}

@media (max-width: 900px) {
	.circle {
        right: -90vw;
        width: 140vw;
        height: 140vw;
    }
}


@media (max-width: 768px) {
    	html, body {
        overflow-y: hidden; 
    	}
	h1{
	text-align:center;
	}
	.bem-vindo {
        display: inline;
	}
	
	body {
	flex-direction: column;
        justify-content: center; 
        overflow-y: auto;
	}

    h1 {
        font-size: 10vw;
	margin: 40px 0;
	}

    .circle {
        right: -70vw;
        width: 140vw;
        height: 140vw;
    }

    .maincontainer-login {
        height: 400px;
        margin: 20px 0;
    }

    .login-title {
        margin-left: 12%;
    }
}

@media (max-width: 480px) {
    .login-title {
        font-size: 20px;
    }
    
    input, button {
        width: 85%;
    }
	
}
